.addexp{
    background-color: azure;
    height:55vh;
    width:40vh;
    border:1px black white;
    margin-left: 2rem;
    justify-content: center;
}
.desc{
    background-color:azure;
    width:auto;
    justify-content: center;
    margin:2px;
    padding:1rem;
}
.desc input{
    border-radius: 20px;
    width:90%;
    height:30px;
    padding-left: 15px
}

.label{

    font-size:large;
    margin-top: 20px;
    font-display:inherit;
    font-variant-position: sub;
    font-weight: bold;
    
}